
.habit-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 250px;
    background-color: var(--bg-card);
    color: var(--text-color);
}

.mat-mdc-card-subtitle {
    color: var(--text-color);
}

mat-card-title{
    height: 50px;
}

mat-card-actions button {
    margin-right: 10px;
}
