.title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.settings {
    background-color: var(--bg-card);
    color: var(--text-color);
    padding: 15px;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-slide-toggle span{
    color: var(--text-color);
}

a[target="_blank"] {
    text-decoration: none;
    color: var(--title);
}

#git_img {
    width:  1.2em;
    height:  1.2em;
    margin-right: 5px;
}
