

.sidenav-container {
    height: 100vh;
    
}

.sidenav {
    width: 250px;
    background-color: #f5f5f5;
    background: linear-gradient(
        545deg,
        rgb(252, 228, 252),
        rgb(218, 228, 255)
    );
}

.mobile-toggle {
    display: none;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-items: center;
}

.menu-item > mat-icon {
    font-size: 22px;
    margin: 5px;
}

.menu-item button{
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background-color: rgb(106, 106, 183);
    color: white;
    box-shadow: none;
    justify-content: center;
    padding-top: 2px;
}

.menu-item button mat-icon {
    font-size: 20px;
}

mat-sidenav-content div.main-content {
    padding: 1px 20px;
    background-color: rgba(56, 55, 99, 0.038);
    height: 100%;
}


@media (max-width : 768px){
    .sidenav {
    width: 200px;
}

.mobile-toggle {
    display: inline;
}
}