.title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title .right{
    display: inline-block;
    width: 100%;
    text-align: right;
}

table {
  width: 100%;
}

.action button {
    box-shadow: none;
    transform: scale(0.6);
}

.legend {
    display: inline-flex;
    width: 50%;
    gap: 30px;
    background-color: whitesmoke;
}

.legend *{
    font-size: smaller;
}

.legend .item {
    display: inline-flex;
    align-items: end;
    margin-right: 35px;
}


@media (max-width : 768px) {
    .legend {
        display: none;
    }
}

