.title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title .right{
    display: inline-block;
    width: 100%;
    text-align: right;
}

table {
  width: 100%;
}

.action button {
    box-shadow: none;
    transform: scale(0.6);
}

.legend {
    display: inline-flex;
    width: 50%;
    gap: 30px;
    background-color:  rgba(219, 219, 203, 0.493);
}

.legend *{
    font-size: smaller;
}

.legend .item {
    display: inline-flex;
    align-items: end;
    margin-right: 35px;
}

.table-tasks tr{
    background-color: var(--bg-card);
    color: var(--text-color);
}

mat-paginator {
    background-color: var(--bg-paginator);    
    color: var(--text-color);
}

.no-data {
    padding: 40px 0;
    text-align: center;
    color: var(--text-color);
}


@media (max-width : 768px) {
    .legend {
        display: none;
    }
}

