/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.light-theme {
    --bg-color: rgba(56, 55, 99, 0.038);
    --text-color : #222222;
    --title : rgb(37, 37, 150);
    --bg-card : rgb(255, 255, 255);
    --bg-paginator : rgb(255, 255, 255);
}

.dark-theme {
    --bg-color: #121212;
    --text-color : #e0e0e0;
    --title : rgb(252, 228, 252);
    --bg-card : #222;
    --bg-paginator : #ffffff38;
}

.title {
    color: var(--title);
}

#main-content{
    background-color: var(--bg-color);
}

.habit-card {
    color: #121212;
}
