<div class="title">
    <mat-icon>dashboard</mat-icon>
    <h2>Dashboard</h2>
</div>

<div class="dashboard-cards">
    <mat-card class="card">
        <mat-card-title><mat-icon>task</mat-icon>Task Overview </mat-card-title>
        <mat-divider></mat-divider>
        <canvas baseChart [data]="tasksChartData" [type]="'pie'"></canvas>
    </mat-card>
    <mat-card class="card">
        <mat-card-title><mat-icon>attach_money</mat-icon>Budget Overview</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="balance">
                <p>Current balance : </p>
                <p  class="amount">{{income() - expenses()}} $</p>
            </div>
            <div class="income">
                <p>Total Income :</p>
                <p class="amount">+ {{income()}} $</p>
            </div>
            <div class="expense">
                <p>Total Expenses :</p>
                <p  class="amount">- {{expenses()}} $</p>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <canvas baseChart [data]="budgetsChartData" [type]="'bar'"></canvas>
    </mat-card>
    <mat-card class="card">
        <mat-card-title><mat-icon>self_improvement</mat-icon>Habits Overview</mat-card-title>
        <mat-divider></mat-divider>
        <canvas baseChart [data]="habitsChartData" [type]="'doughnut'"></canvas>
    </mat-card>
</div>